@import url('https://fonts.googleapis.com/css?family=Roboto');

.main-header {
  background-color: #418dcf;
  color: #fff;
  font-size: 2em;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header h1 {
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 3px 5px #000;
}