.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background-color: #2F52DE;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.links a {
  color: #fff;
  text-decoration: none;
}